/* Carousel */

.carousel-item {
    height: calc(100vh - 56px);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.carousel-item-1 {
    background-image: url("../img/dub-square.jpg");
}

.carousel-item-2 {
    background-image: url("../img/dub-walls.jpeg");
}

.carousel-item-3 {
    background-image: url("../img/dub-harbour.jpeg");
}

.carousel-drink-1 {
    background-image: url("../img/dub-drink-1.jpg");
}

.carousel-drink-2 {
    background-image: url("../img/dub-drink-2.jpg");
}

.carousel-drink-3 {
    background-image: url("../img/dub-drink-3.jpg");
}

.carousel-cuisine-1 {
    background-image: url("../img/dub-cuisine-1.jpg");
}

.carousel-cuisine-2 {
    background-image: url("../img/dub-cuisine-2.jpg");
}

.carousel-cuisine-3 {
    background-image: url("../img/dub-cuisine-3.jpg");
}

.carousel-cuisine-1 a, 
.carousel-cuisine-2 a, 
.carousel-cuisine-3 a,
.carousel-drink-1 a,
.carousel-drink-2 a,
.carousel-drink-3 a {
    color: white;
    text-decoration: none;
}