/* Página principal */

/* footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: red;
    color: white;
    text-align: center;
} */

.card {
    max-height: 40%;
    background-color: #f2efef;
}

.card img {
    max-height: 40%;
}

.row article {
    margin-top: 30px auto;
    padding: 20px;
}

#sticky-footer {
    flex-shrink: none;
}

.nav-item {
    margin-top: 25px;
}

.navbar-brand img {
    height: 65px;
    width: 50px;
}

.borda {
    border: 3px solid red;
}

article:nth-of-type(2) h2 {
    margin: 15px auto;
    font-size: 40px;
}

article img {
    margin-top: 15px;
    /* height: 40%; */
}

h2,
h3 {
    font-size: 15px;
}

.row article {
    margin: 0 auto;
}

.row a {
    display: inline-block;
    /* margin-left: 200px; */
}