/* General */

section:not(.main-banner) {
    min-height: calc(100vh - 60px - 130px - 40px);
}

.shadow {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
}

article:hover,
.card:hover,
header:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}