.row {
    margin: 20px auto;
    padding: 20px;
}

h1 {
    margin: 30px auto;
    padding: 15px;
    text-align: center;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.filter-input {
    height: 40px;
    margin: 20px auto;
    box-shadow: 0 4px rgba(0,0,0,0.2);
    text-align: center;
}

.filter-input input {
    display: inline;
}