.form-box {
    text-align: center;
    height: 30%;
    width: 250px;
    margin: 40px auto;
}

input {
    margin: 10px;
    display: block;
}

button {
    float: right;
}

.spanErro {
    color: red;
}

.image-box {
    margin: 0 auto;
}

.image-box img {
    width: 300px;
    display: block;
    margin: auto;
}

.image-box h1 {
    box-shadow: none;
    font-family: Tahoma;
    font-size: 30px;
}