.home-content {
    margin: 0 auto;
}

.home-content img {
    width: 300px;
    display: block;
    margin: 0 auto;
}

.home-content h1 {
    box-shadow: none;
    font-family: Tahoma;
    font-size: 30px;
}