/* Contato */

.container {
    margin-top: 30px;
}

form div {
    margin-top: 10px;
}

form button:last-of-type {
    position: absolute;
    bottom: 5px; 
    right: 5px;
}

.map-container {
    width: 100%;
}

@media (max-width: 619px) {
    .map-container {
        height: 70vh;
        margin-top: 30px;
    }
}

/* Este é o desktop */
@media (min-width: 620px) {
    .map-container {
        width: 30vw;
        position: absolute;
        top: 5px;
        bottom: 0;
        right: 20;
        z-index: 1;
    }
}

.map {
    display: block;
    width: 100%;
    height: 100%;
    border: none;
}