/* Cores */

.azul-finlandia {
    background: #002F6C;
}

.azul-grecia {
    background: #0D5EAF;
}

.preto {
    background: black;
}

.vermelho {
    background: red;
}

.amarelo {
    background: yellow;
}

.branco {
    background: white;
}