/* Geral */

.container {
    height: 400px;
    width: 600px;
}

section {
    margin: 5%;
    height: 100%;
}

.row {
    margin: 0 auto;
    padding: 0%;
    height: 33.333333%;
    width: 100%;
    box-sizing: border-box;
}

.pais {
    margin-top: 5%;
}

.borda {
    border: 1px solid black;
}