/* Marcação específica para Líbano */

.row:first-of-type,
.row:last-of-type {
    height: 25%;
}

.row:nth-last-of-type(2) {
    height: 50%;
}

.row:nth-last-of-type(2) div {
    background-image: url("../img/cedartree.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

